# SPM
.build/
.swiftpm/
Packages/.build/

# Xcode
DerivedData/
ci-derived-data/
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# 覆盖率/报告产物
*.xctestplan.bak
coverage/.xcbuild/
*.profraw

# macOS
.DS_Store

# 日志
*.log
